# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.DS_Store

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment
.env
env/
venv/
.venv/

# IDE
.vscode/
.idea/
*.code-workspace

# Logs
*.log

# Audio files (too large for GitHub)
*.mp3
*.wav
*.mp4
*.avi

# Test files
test_*.py
*_test.py

# Node (por si acaso)
node_modules/
dist/
build/

