# Configuración de APIs
OPENAI_API_KEY=tu_clave_de_openai_aqui
MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiZWZyYTAyOCIsImEiOiJjbWY2d25taWQwbDNhMmlxMzVyMHY4em52In0.VRnf0M7aTUL4Zw4AjYy0Rg

# Configuración de Django
SECRET_KEY=tu_secret_key_aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

