# Configuración de APIs
OPENAI_API_KEY=tu_clave_de_openai_aqui
MAPBOX_ACCESS_TOKEN=tu_clave_aqui

# Configuración de Amazon Polly (AWS)
AWS_ACCESS_KEY_ID=tu_access_key_id_aqui
AWS_SECRET_ACCESS_KEY=tu_secret_access_key_aqui
AWS_REGION=us-east-1
POLLY_VOICE_ID=Lupe

# Configuración de Django
SECRET_KEY=tu_secret_key_aqui
DEBUG=True


